.accountBalance{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    padding:1.5rem;
    color:#2c3e50;
}
.accountAmount{
    font-size: 2.5rem;
    font-weight: bold;
}

.rightDetails{
    display: flex;
    align-items: center;
}

@media (max-width: 720px) {
    .accountBalance{
        flex-direction: column;
        gap:15px;
    }
    .rightDetails>button{
        width: 100% !important;
    }
}