.dashboard{
        flex: 1;
        background-color:#12002b;
        display: flex;
        color:#fff;
        justify-content: center;
}
.dashboardContainer{
        padding: 20px;
        max-width: 1300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
}
.dashboardTitle{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
}
.dashboardTitle > h1{
        margin: 0;
        padding: 0;
}

.accountList{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
}

.inlineButton{
        grid-template-columns: 1fr 1fr;
        display: grid;
        gap: 10px;
}
.inlineInput{
        display: flex;
        gap:10px;
}
.inputEdit{
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
        font-size: 1.2rem;
}

@media (max-width: 920px){
        .inlineInput{
                flex-direction: column;
        }
}