header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.logo{
    width: 200px;
}
.logo img{
    width: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 920px){
    .logo {
        width: 130px;
        display: flex;
        align-items: center;
    }
}